.header__search {
    width: 364px;
    height: 20px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 25px;
    padding: 8px 16px; 
}
.header__search .artist-card{
    margin-top: 16px;
    margin-right: 0; 
    width: 100%; 
 
}
.header__search input {
    background: transparent;
    border: none;
    padding: 0px 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    outline: none;
  }
  .header__search .img-lupa{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    opacity: 0.8;
    padding-left: 10px;
  }

.grid-container {
    position: absolute; 
    top: 100px;
    left: 320px; 
    right: 50px;
    width: 100%; 
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; 
    padding: 20px;

    background-color: #121212;
    z-index: 1; 
    padding: 20px; 
    border-radius: 5px; 
    max-height: 500px; 
    max-width: 970px;
    overflow-y: auto; 
    overflow-x: hidden;
    margin-left: 15px;
    transition: opacity 0.3s ease; 
}
.hidden {
    opacity: 0;
    pointer-events: none;
}


.artist-card{
    background-color:#242424;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
    transition: transform 0.2s ease; 
    gap: 10px;
    margin-left: 0;
}

.card-img {
    position: relative;
    width: 100%; 
    height: 0; 
    padding-bottom: 100%; 
    overflow: hidden;
}

.artist-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    color: black;
}

.artist-name, .artist-categorie {
    color: white;    
    font-size: 16px;
    display: block;
    z-index: 2;                 
}

/* Media query para telas menores (exemplo) */
@media (max-width: 768px) {
    .grid-container {
        left: 10px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 10px; 
    }
}
